# Project exclude paths
/out/
/BOOKKEEPER_1/
/BOOKKEEPER_2/
/BOOKKEEPER_3/
/BOOKKEEPER_4/
/BOOKKEEPER_5/
/BOOKKEEPER_6/
/BOOKKEEPER_7/
/STORM_1/
/STORM_2/
/STORM_3/
/STORM_4/
/STORM_5/
/STORM_6/
/STORM_7/
/STORM_8/
/STORM_9/
/STORM_10/
/STORM_11/
/STORM_12/
/STORM_13/
